@inject TodoClient Client

<div class="py-4 border-b border-slate-700 shadow-sm bg-slate-900 text-slate-50">
    <ul class="mx-auto container md:container-md flex flex-row px-2 md:px-0  items-center">
        <li class="flex-1"><h2 class="font-extrabold text-2xl md:text-3xl">Todo</h2></li>
        <li class="flex-initial text-slate-400">Logged in as <strong>@CurrentUser</strong></li>
        <li class="flex-initial pl-2">
            <Button ButtonType="Button.Type.Primary" @onclick="@Logout">Logout</Button>
        </li>
    </ul>
</div>

@code {
    [Parameter] public string? CurrentUser { get; set; }

    [Parameter]
    public EventCallback LoggedOut { get; set; }
    
    void HandleLogin(string newUsername)
    {
        CurrentUser = newUsername;
    }

    async Task Logout()
    {
        await LoggedOut.InvokeAsync();
    }
}